body {
	font-family: 'Avenir', sans-serif;
}
/* bootstrap overrides */
.navbar {
	height: 60px;
	margin-bottom: 0px;
}
button.navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #84dcc6;
}
.navbar-brand {
	font-size: 27px;
	font-weight: 400;
	text-align: center;
	padding: 15px 30px;
}
.navbar ul li {
	margin: 2px 0px 0px 0px;
	padding: 0px 0px;
	font-size: 15px;
}
.navbar ul {
	width: 300px;
}
.navbar-collapse {
	border: 0px;
	box-shadow: none;
}
/* end bootstrap overrides */

/* navigation */
#responsive-menu {
	padding: 5px 0px 5px 0px;
}
.navbar i {
	color: #ffffff;
}
.navbar i:hover {
	color: #e6e6e6;
}
.navbar .cta-button {
	background-color: #84dcc6;
	border-radius: 5px;
	border: solid 1px #ffffff;
	margin: 5px 15px; /* hack to ensure vertically aligned middle */
	padding: 8px 18px;
	color: #ffffff;
	font-size: 15px;
}
.navbar li p {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 0px;
	font-size: 15px;
	color: #ffffff;
}
/* end navigation */
/*Navigation*/
nav {
	background-color: #84dcc6;
}
nav a {
	color: #ffffff;
}
nav a:hover {
	color: #e6e6e6;
}
.navbar-brand {
    font-size: 27px;
}
.cta-button {
	background-color: #84dcc6;
	border-radius: 5px;
	border: solid 1px #ffffff;
	color: #ffffff;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 15px;
}
.cta-button:hover {
	background-color: #84dcc6; 
	border-color: #ffffff;
	color: #e6e6e6;
}
.btn {
	padding: 9px 15px;
}
/* end Navigation*/
/*group links*/
#group-link {
	text-align: left;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 15px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 0px;
}
#group-link hr {
	margin-right: -15px;
	margin-top: 15px;
}
#group-link div.row {
	margin-left: 0px;
}
#group-link div.col-lg-12 {
	padding-left: 0px;
}
#group-link ul li {
	list-style: none;
	display: inline;
}
#group-link ul {
	padding-left: 0px;
}
#group-link span {
	margin-right: 10px;
	margin-left: 10px;
}
#group-link a {
	color: #84dcc6;
}
#group-link a.active {
	color: #858585;
}
/*end group links*/
/*info*/
#hebamme-info {
	margin-top: 0px;
	margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
#hebamme-info img {
	border-radius: 50%;
	width: 200px;
	height: auto;
}
#hebamme-contacts p {
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
#hebamme-contacts a {
	display: block;
	color: #84dcc6;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
#info, #hebamme-contacts {
	padding-right: 30px;
	padding-left: 30px;
}
h3 {
	color: #979797;
	font-weight: 900;
	font-size: 24px;
	display: inline-block;
}
#info a {
	font-size: 15px;
	color: #84dcc6;
	margin-left: 30px;
}
h4 {
	font-size: 18px;
	font-weight: 600;
	color: #858585;
}
p {
	color: #858585;
	font-size: 15px;
}
/*end info*/
/*Need Help Booking or Registering?*/
#need_help {
	background-color: #ff686b;
	margin-top: 120px;
    text-align: center;
	padding: 20px 20px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 5px;
	margin-bottom: 15px;
}
#need_help span {
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	padding-left: 15px;
	padding-right: 15px;
}
#need_help a {
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
    display: block;
    text-align: center;
}

/*end Need Help Booking or Registering?*/


/*footer*/
#footer {
	background-color: #84dcc6;
	margin-top: 0px;
	color: #ffffff;
	text-align: center;
	font-size: 15px;
	font-weight: 100;
	height: 150px;
}
#footer p {
	margin-top: 30px;
	color: #ffffff;
}
#footer a {
	color: #ffffff;
}
#footer ul li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	color: #ffffff;
	font-weight: 400;
}
#footer ul {
	margin-top: 20px;
}
#footer .copyright {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 30px;
}
.list-unstyled {
	margin-top: 10px;
}
/*end footer*/