.row {
	margin-left: 0px;
	margin-right: 0px;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
nav p {
	text-align: left;
	margin-top: 0px;
}
.btn {
    font-size: 12px;
}
#list h3 {
	margin-top: 0px;
    display: block;
	text-align: left;
}
#list p {
	text-align: left;
}
#list a {
	font-size: 14px;
	color: #84dcc6;
	margin-bottom: 20px;
	display: block;
	text-align: left;
}
.pagination li a {
	margin-left: 0px;
	margin-right: 0px;
}
#footer {
	height: 110px;
}
#footer ul {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
#footer p.copyright {
	margin-top: 10px;
	font-size: 15px;
}