.navbar-brand {
	padding-top: 15px;
}
nav button {
	margin-bottom: 10px;
}
#buttons .col-xs-12 {
    margin-bottom: 15px;
}
nav.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
#sub-navigation {
	margin-right: 15px;
	margin-left: 15px;
}
#footer {
	height: 180px;
}
