

nav button {
	margin-bottom: 10px;
}
body h2 {
	text-align: center;
}
.column {
	margin-bottom: 15px;
}
.button-row {
	margin-bottom: 0px;
}
#footer {
	height: 200px;
}
#red-button {
	margin-top: 15px;
}

